.feature {
  &__marquee {
    overflow: hidden;
    width: 100%;
  }
  &__track {
    .swiper-wrapper {
      display: flex;
      gap: 1rem;
    }
  }
  &__logo {
    height: 120px;
    width: auto;
    flex: 0 0 auto;
  }
  .swiper-slide {
    flex: 0 0 auto;
    width: auto;
  }

  &__item {
    padding: 1.5rem;
    border-bottom: 1px solid var(--col-accent);
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--col-green-100);
      text-decoration: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
