.hike-nav {
    background-image: url(../img/wood-bg-1_1320.jpg);
    background-size: cover;
    background-position: center;

    &__content {
        background-color: var(--col-light);
        padding: 1rem;
        box-shadow: var(--shadow-in);
        align-self: flex-start;
    }

    &__inner {
        max-width: 800px;
    }

    &__card {
        min-width: 245px;
        @media (min-width:576px) {
            flex-basis: calc(30% - 0.5rem);
        }
        @media (min-width:992px) {
            flex-basis: calc(50% - 0.5rem);
        }
        @media (min-width:992px) {
            flex-basis: calc(30% - 0.5rem);
        }
        &:active, &:focus-visible {
            outline: none;
            .polaroid {
                transform: rotate(-3deg) scale(1.1);
                box-shadow: var(--shadow-out);
                z-index: 2;
            }
        }
    }

    &--content {
        display: grid;
        @media (min-width:992px) {
            grid-template-columns: 1fr 2fr;
        }
        .hike-nav__card {
            min-width: unset;
        }
        .hike-nav__inner {
            max-width: unset;
        }
    }

    .count {
        background-color: firebrick;
        color: white;
        font-weight: bold;
        padding-inline: 0.25rem;
        padding-bottom: 0.25rem;
        position: absolute;
        top: 0;
        right: 8px;
        z-index: 9;
        line-height: 1;
        height: 30px;
        display: grid;
        place-content: center;
        font-size: 0.883rem;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 75%, 50% 100%, 0% 75%, 0 85%);
    }

}
