@import "typography";
@import "colours";
@import "header";
@import "footer";
@import "buttons";
@import "woocommerce";
@import "news";
@import "blocks/blocks";

a,
a.noline {
    text-decoration: none;
}
a.anchor {
    display: block;
    position: relative;
    top: calc( var(--h-top) * -1);
    visibility: hidden;
}

@media (min-width:992px) {
    .cols-lg-2 {
        columns: 2;
    }
    .cols-lg-3 {
        columns: 3;
    }
}

// a {
//     color: var(--col-accent);
//     &:hover {
//         color: var(--col-accent);
//     }
// }


.breadcrumbs {
    font-size: var(--fs-300);
}

body {
    display: grid;
    margin-inline: auto;
    width: min(1320px, 98vw);
    box-shadow: var(--shadow-0);
    margin-bottom: 2rem;
    background-color: var(--col-light);
    background-image:url(../img/contours.svg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

main {
    position: relative;
    background-color: #fff;
    padding-bottom: var(--footer-img);
}



/* polaroid */
.polaroid {
    z-index: 1;
    border-radius: 0;
    cursor: pointer;
    min-width: 230px;
    flex-basis: calc( 33.3% - 0.66rem);
    padding: 14px;
    background-color: var(--col-polaroid);
    display: grid;
    grid-template-rows: auto 55px;
    box-shadow: var(--shadow-in);
    transform: rotate(0) scale(1);
    transition: all 200ms ease-in-out;
    position: relative;

    transform: rotate(-3deg) scale(1.1);
    
    &::after {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        mix-blend-mode: overlay;
        opacity: 1;
    }

    &__image {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: '';
            display: block;
            inset: 0;
            position: absolute;
            box-shadow: inset 0 0 5px #00000080;
        }
    }
    &__title {
        padding-top: 1rem;
        display: grid;
        place-content: center;
        font-family: var(--ff-hand);
        font-size: 2.2rem;
        text-align: center;
        text-wrap: balance;
        position: relative;
        flex: 1;
    }
}
a > .polaroid {
    transform: rotate(0) scale(1);
    &:hover {
        transform: rotate(-3deg) scale(1.1);
        box-shadow: var(--shadow-out);
        z-index: 2;
    }
}

.icon--guided-walks .polaroid::after {
    background-image: url(../img/icons/icon--guided-walks.svg);
}
.icon--group-tours .polaroid::after {
    background-image: url(../img/icons/icon--group-tours.svg);
}
.icon--challenge-events .polaroid::after {
    background-image: url(../img/icons/icon--challenge-events.svg);
}
.icon--womens-wellness-walks .polaroid::after {
    background-image: url(../img/icons/icon--womens-wellness-walks.svg);
}
.icon--multi-day-hikes .polaroid::after {
    background-image: url(../img/icons/icon--multi-day-hikes.svg);
}
.icon--community-events .polaroid::after {
    background-image: url(../img/icons/icon--community-events.svg);
}



// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }