.bg--primary {
  background-color: var(--col-primary);
}
.bg--light {
  background-color: var(--col-light);
}
.bg--grey-200 {
  background-color: var(--col-grey-200);
}
.bg--grey-800 {
  background-color: var(--col-grey-800);
}
.bg--accent {
  background-color: var(--col-accent);
}

.text-highlight {
  color: var(--col-highlight-400);
}

.text-primary-900 {
  color: var(--col-primary-900);
}
