.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover {
    color: var(--col-accent);
}

#woocommerce-wrapper {
    padding: 0.5rem 0;
    background-color: white;
}

.wc-block-grid__product-add-to-cart {
    display: grid;
}