.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover {
    color: var(--col-accent);
}

#woocommerce-wrapper {
    padding: 0.5rem 0;
    background-color: white;
}

.wc-block-grid__products {
    justify-content: center;
}

.wc-block-grid__product-add-to-cart {
    display: grid;
}

/* single product stuff */
.single-hike {
    time.icon {
        margin-inline: auto;
        font-size: 1em;
        /* change icon size */
        display: block;
        position: relative;
        width: min(7em,90vw);
        height: min(7em,90vw);
        background-color: #fff;
        border-radius: 0.6em;
        box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
        overflow: hidden;
        * {
            display: block;
            width: 100%;
            font-size: 1em;
            font-weight: bold;
            font-style: normal;
            text-align: center;
        }

        strong {
            position: absolute;
            top: 0;
            padding: 0.4em 0;
            color: #fff;
            background-color: var(--col-accent);
            border-bottom: 1px dashed #f37302;
            box-shadow: 0 2px 0 var(--col-accent);
        }

        em {
            position: absolute;
            bottom: 0.2em;
            color: var(--col-accent);
        }

        span {
            font-size: 2.8em;
            letter-spacing: -0.05em;
            padding-top: 0.7em;
            color: #2f2f2f;
        }
    }

    .sticky-top {
        top: calc( var(--h-top) + 1.5rem );
        text-align: center;
    }


    .product__intro {
        background-color: var(--col-light);
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: var(--shadow-in-1);
        h1 {
            padding-inline: 0;
            font-family: var(--ff-headlines);
        }
        .woocommerce-product-details__short-description {
            font-size: var(--fs-500);
            p {
                margin-bottom: 0;
            }
        }
    }

    .product__meta {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        .start_time, .start_date, .start_loca {
            display: flex;
            flex-wrap: wrap;
            gap: 0rem 0.5rem;
        }
    }

    .price {
        font-size: var(--fs-600);
        // &::before {
        //     content: "Tickets: ";
        //     font-size: var(--fs-400);
        //     font-weight: var(--fw-900);
        // }
    }
    .stock {
        display: none;
    }
}

main .single-hike,
main .single-product {
    button {
        min-width: unset;
        padding: 0.25rem 1rem;

        background-color: var(--col-accent);
        border-color: color-mix(in srgb, var(--col-accent), #000 20%);
        box-shadow: var(--shadow-in);
        color: var(--col-brown-400);
        &:hover, &:active, &:focus-visible {
            color: var(--col-brown-400);
            background-color: color-mix(in srgb, var(--col-accent), #fff 20%);
            border-color:  color-mix(in srgb, var(--col-accent), #000 20%);
            box-shadow: var(--shadow-in-2);
            transform: translateY(2px);
        }

        font-family: var(--ff-body);
        font-size: var(--fs-400);
        transition: all var(--transition);
        margin-inline: auto;
        display: inline-block;
    }
}

.single-product {
    .quantity {
        &::before {
            content: "Quantity: ";
            font-size: var(--fs-400);
            font-weight: var(--fw-900);
        }
        .form-control {
            display: inline-block;
        }
        margin-bottom: 1rem;
    }
    .stock {
        color: var(--col-accent);
        font-weight: var(--fw-900);
    }
    .woocommerce-Price-amount {
        &::before {
            content: "Price: ";
            font-size: var(--fs-400);
            font-weight: var(--fw-900);
        }
    }
}

a.woocommerce-privacy-policy-link,
a.woocommerce-terms-and-conditions-link {
    text-decoration: underline;
}